#**Assignment : Python - Data Structure**

#Theoretical Question - Answers

**1. What are data structures, and why are they important?**

- Data Structures are a way to store data in a proper manner, often efficiently.
- They are important due to being the building block of programs and holding the structure of the base of the data in a fashion that is easily retrivable.

Example - Without data structures there is would be a lot more unwanted complexity in the program that would cause heavy reliability issue.

**2. Explain the difference between mutable and immutable data types with examples**

Python allocates an Object ID for each Data Types, which it keeps track from the start to the end of the program often.  
- Mutable Data Types - Are those which doesn't change the Object ID while getting modified. Which means there is only one pointer to the parent data.
- Immutable Data Type - These data types aquire new object id (aka storage location) while getting modified [if they allow modification in the first place]. Which creates a new pointer to a new data type.

Example - list is mutable (Adding / Removing any element causes changes in the parent data structure itself), String is immutable (Adding / Removing any element don't cause change in the parent data, it creates another object and implements the addition there.)

**3. What are the main differences between lists and tuples in Python ?**

- Lists  
1. Mutable
2. Methods can be used - append / remove and much more
3. Syntax is - []
4. Slower

- Tuples
1. Immutable
2. Methods can be used - only count / index
3. Syntax is ()
4. Faster

**4.  Describe how dictionaries store data ?**

- Dictionaries store data in Key-Value pairs. Which means - There is One Key that is linked to a value. And the value can be accessed only when you have the key and nothing else. Often this has to be unique to save from clutter. Although same key generetaion can cause to change the data in the declaration itself.

Example - my_Dict = {"name":"Argha", "course":"DS"}

in this dictionary - my_Dict > Keys -> name & course, Values -> Argha & DS

**5. Why might you use a set instead of a list in Python ?**

1. Sets offer redundant values where lists don't
2. Sets are Hashable where Lists are not
3. Sets offer fuctions like Union & Intersection
4. Very efficient to store uniqe large amount of data in both Storage and Computtation

**6. What is a string in Python, and how is it different from a list**

- String in Python are a Sequence of Unicode Characters stored in a variable often, that are immutable in nature.

- Differences are 1)Strings are Immutable 2) They hold only texts (Uncalculable) 3) Text operations are applicable like slicing and dicing 4) The syntax is different too - str = "Argha"

**7. How do tuples ensure data integrity in Python**
- Tuples ensure data mutability in Python because of their immutable nature.

Example - Whenever the data in tuples needed to modify it will throw an error to stop the process maintaining a secure and redundant data authority in the program.

**8. What is a hash table, and how does it relate to dictionaries in Python ?**
- Hash table is one of a data structure that is used to retrive data in a constant time. Which is extremely fast for the most cases. Hash table uses Key-Value pairs to store the data, where each key is unique and redundant mostly. The key in the hash table is converted to a specific index that can be read by the program in constant time.

- In python, when you create a dictionary it almost acts like a hash table where Python stores the key values using a Hash function in the memory, offering constant time to access the data. It is already inbuilt in the Python, thus there is very less work to do to create hash table.

**9.Can lists contain different data types in Python**
- Yes, lists can contain different types of data in the data structure. Even if they are duplicates too.

**10. Explain why strings are immutable in Python**
- There are several reasons why strings are immutable in python, below I am going to explain three of them

1. Python is multi-thread heavy programming language. Be it CUDA or any kind of Scaling Algorithm, it uses a lot of threads to run a single code. Making string immutable offers a great advantage to data safety.

2. Strings can be used as a key in hash table, which by all means get converted into storage indexes by hash function. Newly modified string could bring crataostophic changes to the system if done so. Thus it is immutable.

3. Python uses same memory for different strings to save memory, thus making it fundamentally not only immutable but reusable that on the large scope of programming can save some memory.

**11.What advantages do dictionaries offer over lists for certain tasks**
- There are various reasons where dictionaries have much better advantages over lists in specific scenarios. Like

1. Constant Time data access (Usable for large amount of data)
2. Index Less and Key Base searches (Better management of the data)
3. Redundancy (No Duplicate data)

**12. Describe a scenario where using a tuple would be preferable over a list ?**

Tuples can be favourable in many instances where lists are not that adequete. Below I am mentioning three of the usecases.

1. Returning Scientific Data (Like Cordinates, Constants) where the numbers are fixed and declared a sensible meaning to those
2. Using in Hash Tables or Dictionaries since the immutibility
3. Wherever more memory efficient and faster computation is required.

**13. How do sets handle duplicate values in Python ?**
- There is a data structure in python , that inherently removes the Duplicate values offering redundency.

The name of the data structure is set(). And it works like a mathametical model of set.

**14. How does the “in” keyword work differently for lists and dictionaries**
- The in keyword works a bit differently in both list and dictionaries

In List > The interpreter checks if there is any matching element in the list one by one

In Dictionaries > The interpreter checks if there is any matching key. Which means there is no value that can be used in the dictionaries, it always has to be a key-justifiable value.

**15. Can you modify the elements of a tuple? Explain why or why not ?**

- No, we can't modify the data of a tuple.

Because tuple is a immutable object and if we try to change/modify the elements it would throw an error that will eliminate the runtime of the programme.

**16. What is a nested dictionary, and give an example of its use case ?**

- A nested dictionary is a dictionary inside a dictionary that is very useful to create a hiararchial dataset.

Example - 1. Storing multiple data with sub-data 2. Groupped configuration file

**17.Describe the time complexity of accessing elements in a dictionary ?**
- Dictionary in python uses a hash function to store the key data in the memory. Thus the dictionary uses a constant amount of time to fetch the data. Because Dictionaries act like a Hash Table in this scenario.

So the complexity of the hash table being O(1) [Big O of 1]
the compexity of Dictionary is also same, constant.

**18. In what situations are lists preferred over dictionaries ?**
- There are situations where the lists are more preferable than the dictionaries. I discussed three of them below

1. When you want duplicated in the data and redundany doesn't matter much.
2. When the insertion order matters (In data-structures like stacks and queues)
3. When you need the indexed access to the data.

**19.  Why are dictionaries considered unordered, and how does that affect data retrieval**

- Dictionaries are un-odered for several reasons
1. The data fetching is done through keys, so there is no need to be order to store the data
2. The data is not indexed, so you can't access data by providing a value in the index section
3. Dictionaries are used as a Hash Table , thus the hash fuction will perform anyhow, making the order an extra work head to do nothing.

-It affects data retrival by maintaining a constant time

If we take lists for example, as the data increases the time complexity to find a data also increases. But in Dictionaries it takes same time to fetch each data in the programme.

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**

- Lists
1. Lists store the data in a odered position
2. The data can be accessed by giving the index
3. The time complexity increases with the space

- Dictionaries
1. Dictionaries store the data in an unodered position
2. Only by providing the key of the value can grant you the data
3. The time complexity stays the same even if the space grows, due to hashing funtions.

#Practical Question - Answers

1. Write a code to create a string with your name and print it

In [1]:
name = "Argha"
print(name)

Argha

2. Write a code to find the length of the string "Hello World"

In [2]:
hlo = "Hello World"
print(len(hlo))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [4]:
pyt = "Python Programming"
slc = pyt[0:3]
print(slc)

Pyt

4. Write a code to convert the string "hello" to uppercase

In [5]:
hlo = "hello"
hlou = hlo.upper()
print(hlou)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
apl = "I like apple"
ong = apl.replace("apple", "orange")
print(ong)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [10]:
my_lst = []
for i in range(5):
  my_lst.append(i+1)

print(my_lst)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [12]:
list_a = [1,2,3,4]
list_a.append(10)
print(list_a)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [13]:
listb = [1,2,3,4,5]
listb.remove(3)
print(listb)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [14]:
listc = ['a','b','c','d']
listc_char = listc[1]
print(listc_char)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [15]:
listd = [10, 20, 30, 40, 50]
listd_r = listd[::-1]
print(listd_r)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [16]:
tupa = (100,200,300)
print(tupa);

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [17]:
tupb = ("red", 'green', 'blue', 'yellow')
slst = tupb[-2]
print(slst)

blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [18]:
tupc = (10,20,5,12)
minv = min(tupc)
print(minv)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [21]:
tupd = ('dog', 'cat', 'rabbit')
cat_index = tupd.index("cat")
print(cat_index)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [23]:
tupe = ("kiwi","mango","banana")

if "kiwi" in tupe:
  print("Kiwi is here")
else:
  print("Kiwi is not here")

Kiwi is here

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [24]:
seta = {"a", "b", "c"}
print(seta)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [26]:
setb = {1, 2, 3, 4, 5}
setb.clear()
print(setb)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [27]:
setc =  {1, 2, 3, 4}
setc.remove(4)
print(setc)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [28]:
setd =  {1, 2, 3}
sete =  {3, 4, 5}

uni_set = setd.union(sete)
print(uni_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [29]:
setf = {1,2,3}
setg = {2,3,4}

int_set = setf.intersection(setg)
print(int_set)

{2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [30]:
dicta= {"name":"Argha", "age":24, "city":"Malda"}
print(dicta)

{'name': 'Argha', 'age': 24, 'city': 'Malda'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [31]:
dictb = {'name': 'John', 'age': 25}
dictb["country"] = "USA"
print(dictb)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [33]:
dictc =  {'name': 'Alice', 'age': 30}
val = dictc["name"]
print(val)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [35]:
dictd = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dictd.pop("age")
print(dictd)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [36]:
dicte = {'name': 'Alice', 'city': 'Paris'}

if "city" in dicte:
  print("Exists")
else:
  print("Doesn't Exist")

Exists

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [37]:
listx = [1, "a", "Hi"]
tupx = (1,2,3)
dictx = {"char":"A", "int":2}

print(listx)
print(tupx)
print(dictx)

[1, 'a', 'Hi']
(1, 2, 3)
{'char': 'A', 'int': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [39]:
import random
num1 = [random.sample(range(1,101), 5)]
print(num1)

[[64, 56, 34, 32, 23]]

28. Write a code to create a list with strings and print the element at the third index

In [40]:
listz = ["I", "AM", "A", "STRING" ]
print(listz[2])

A

29. Write a code to combine two dictionaries into one and print the result

In [41]:
dictz = {"hey":"hello", "hi":"whatsup"}
dicti = {"hola":"amigo", "kaise ho?":"thik ho?"}

comb_dict = dictz | dicti

print(comb_dict)

{'hey': 'hello', 'hi': 'whatsup', 'hola': 'amigo', 'kaise ho?': 'thik ho?'}

30. Write a code to convert a list of strings into a set.

In [42]:
alphabets = ["a", "b", "c"]
set_alphabets = set(alphabets)
print(type(set_alphabets))
print(set_alphabets)

<class 'set'>
{'c', 'a', 'b'}

by
#Arghadeep Misra
##argadeepmisra@gmail.com
##+91 8250675419